@import 'scss/vars';
@import 'scss/input';
@import 'scss/buttons';
@import 'scss/animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background: $bg;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

a:hover {
  color: $light;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.router-container {
  padding: 1.5em;
  flex: 1;
}

.auth-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-form {
  padding: 1.5em;
  background: $white;
  display: flex;
  flex-direction: column;
  width: 380px;
  border-radius: 3px;
}

.auth-form-title {
  font-size: 2.6rem;
  margin-bottom: .5em;
  letter-spacing: 10px;
  color: $darker;
}
