@import 'scss/vars';
@import 'scss/buttons';
@import 'scss/animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background: $bg;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

a:hover {
  color: $light;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.router-container {
  padding: 1.5em;
  flex: 1;
}
