.slide-enter-active, .slide-leave-active {
  transition: transform .5s cubic-bezier(1,-0.22, 0, 1.37), opacity .4s cubic-bezier(1,-0.22, 0, 1.37);
}
.slide-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
.slide-enter {
  transform: translateY(100%);
  opacity: 1;
}
