// Global vars
$bg: #fafafa;
$light: #fafafa;
$gray: #8287A1;
$darker: #243348;

// Links vars
$link-color: $gray;
$link-color-active: $darker;

// Buttons vars
$button: $link-color-active;
$button-color: $light;
